{% extends 'base.html' %}
{% block title %}craigslist: {{ region }} jobs, apartments, for sale, services, community, and events{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/searchbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{# Navigation Bar #}
{% block navbar %}
<form action="/search/quick" method="post">
    <input class="icon-tint" type="text" name="search" placeholder="search craigslist">
</form>

<button id="post" onclick="window.location = '/create-post'">post</button>
<button id="account" onclick="window.location = '/account'">account</button>
{% endblock %}

{# Content time! #}
{% block content %}
<div class="main-div">
    <div class="side-bar" id="side-bar1">
        <div id="region">
            <span class="material-symbols-outlined">location_on</span>
            <p>manila</p> {# Fetch current site location #}
        </div>
        <button id="postSideButton" onclick="window.location = '/posting'">
            <span class="material-symbols-outlined">edit_square</span>
            post an ad
        </button>
        <hr />
        <a href="/events">event calendar</a>
        <div class="event-calendar">
            <div class="calendar-header">
                <span id="month">Month</span>
                <div class="calendar-header-controls">
                    <button id="prev-month" onclick="prevMonth(this);"><span class="material-symbols-outlined">chevron_left</span></button>
                    <button id="next-month" onclick="nextMonth(this);"><span class="material-symbols-outlined">chevron_right</span></button>
                </div>
            </div>
            <div class="calendar-content">
                <!-- interactive days here -->
                later
            </div>
        </div>
        <!-- nav side bar buttons -->
        <div class="side-left-group">
            <button class="primary"><span class="material-symbols-outlined">help</span>help, faq, abuse, legal</button>
            <button class="warning"><span class="material-symbols-outlined">error</span>avoid scams &amp; fraud</button>
            <button class="primary"><span class="material-symbols-outlined">info</span>personal safety tips</button>
        </div>

        <div class="side-left-group">
            <button class="craigslist"><span class="material-symbols-outlined">help</span>about craigslist</button>
            <button class="craigslist"><span class="material-symbols-outlined">star</span>best-of-craigslist</button>
            <button class="craigslist"><span class="material-symbols-outlined">news</span>what's new</button>
            <button class="craigslist"><span class="material-symbols-outlined">info</span>system status</button>
        </div>

        <div class="side-left-group">
            <button class="craigslist"><span class="material-symbols-outlined">favorite</span>craigslist charitable</button>
            <button class="craigslist"><span class="material-symbols-outlined">favorite</span>craig newmark philantropies</button>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-div">
            <div class="main-content-subdiv">
            {% for category in categories1 %}
                {% if len(categories1[category]) > 0 %}
                <div class="collapsible-header primary" id="{{ category.replace(' ', '-') }}">
                    <button class="collapsible-header-title primary">{{ category }}</button>
                    <div class="collapsible-content primary">
                        <div class="collapsible-content-col">
                            {% for subcategory in categories1[category][:len(categories1[category]) // 2] %}
                            <a href="">{{ subcategory }}</a>
                            {% endfor %}
                        </div>
                        <div class="collapsible-content-col">
                            {% for subcategory in categories1[category][len(categories1[category]) // 2:] %}
                            <a href="">{{ subcategory }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="collapsible-header primary single" id="{{ category.replace(' ', '-') }}">
                    <button class="collapsible-header-title primary">{{ category }}</button>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="main-content-subdiv">
            {% for category in categories2 %}
                {% if len(categories2[category]) > 0 %}
                <div class="collapsible-header primary" id="{{ category.replace(' ', '-') }}">
                    <button class="collapsible-header-title primary">{{ category }}</button>
                    <div class="collapsible-content primary">
                        <div class="collapsible-content-col">
                            {% for subcategory in categories2[category][:len(categories2[category]) // 2] %}
                            <a href="">{{ subcategory }}</a>
                            {% endfor %}
                        </div>
                        <div class="collapsible-content-col">
                            {% for subcategory in categories2[category][len(categories2[category]) // 2:] %}
                            <a href="">{{ subcategory }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="collapsible-header primary single" id="{{ category.replace(' ', '-') }}">
                    <button class="collapsible-header-title primary">{{ category }}</button>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="side-bar" id="side-bar-2">
        <select class="lang-select">
            <!-- populate here with languages via JavaScript -->
            <option value="en">english</option>
        </select>
        <span class="side-bar-header"><a href="">{{ main_region }}</a></span><!-- NOTE: This is actually a collapsible in the actual site. Redo -->
        {% for subregion in subregions.keys() %}
            <a href="https://{{ subregions[subregion] }}.craigslist.org">{{ subregion }}</a>
        {% endfor %}
        <span class="side-bar-header"><a href="">{{ main_continent }}</a></span> <!-- NOTE: This is actually a collapsible in the actual site. Redo -->
        <span class="side-bar-header"><a href="">cl worldwide</a></span> <!-- NOTE: This is actually a collapsible in the actual site. Redo -->
    </div>
</div>
<div class="footer-div">
    &copy; 2025 craigslist
    <a href="/help">help</a>
    <a href="/safety">safety</a>
    <a href="/privacy">privacy</a>
    <a href="/terms">terms</a>
    <a href="/about">about</a>
    <a href="/app">app</a>
    <a href="/sitemap">sitemap</a>
</div>

{% endblock %}

{# Postload JavaScript files #}
{% block postload_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/iconify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/collapsible.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
<script>
iconifyNavbar();
iconifyCategories();
</script>
{% endblock %}