{% extends "base.html" %}

{% block title %} {{  }} | Craigslist{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listings.css') }}">
{% endblock styles %}

{% block navbar %}
    <button style="position:absolute; right:5px;" id="account" onclick="window.location = '/account'">account</button>
{% endblock navbar %}

{% block content %}
<div class="listings-container">
    {% for posting in postings %}
        <div class="listing-item">
            <h2 class="posting-title">{{ posting.title }}</h2>
            <img class="posting-image" src="{{ posting.image_url }}" alt="{{ posting.filename }}">
            <p class="posting-time">Posted: {{ posting.time_since_posted }}</p>
            <p class="posting-price">Price: {{ posting.price }}</p>
            <p class="posting-location">Location: {{ posting.location }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block postload_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/iconify.js') }}"></script>
<script>accountIcon();</script>
{% endblock postload_scripts %}