{% extends "base.html" %}

{% block title %} Housing | Craigslist{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/listings.css') }}">
{% endblock styles %}

{% block navbar %}
    <button style="position:absolute; right:5px;" id="account" onclick="window.location = '/account'">account</button>
{% endblock navbar %}

{% block content %}
<div class="container p-3"></div>
    <div class="row">
        {% for posting in postings %}
            <div class="col-md-3 mb-4">
                <a href="/posting/{{ posting.id }}/{{ posting.slug }}" class="text-decoration-none text-dark">
                    <div class="card h-100">
                        {% if posting.images %}
                            <img src="{{ posting.images[0]['path-url'] }}" class="card-img-top" alt="{{ posting.images[0]['filename'] }}">
                        {% else %}
                            <img src="https://placehold.co/120x75" class="card-img-top" alt="Placeholder image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ posting.title }}</h5>
                            <p class="card-text" data-posting-time="{{ posting.time_created }}">Posted: </p>
                            <p class="card-text">Price: {{ posting.price }}</p>
                            <p class="card-text">Location: {{ posting.location }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block postload_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/iconify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/listings.js') }}"></script>
<script>accountIcon();</script>
{% endblock postload_scripts %}