{% extends "base.html" %}

{% block title %}Craigslist Login{% endblock title %}
{% block styles %}
<!-- Customize Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock styles %}

{% block content %}
<div class="main-container">
    <div class="login-container bg-white">
        <!-- Flash Message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Log in -->
        <div class="left">
            <h2 class="mb-4 fw-bold text-center">Log in</h2>
            <hr>
            <form method="POST" action="{{ url_for('login_page') }}">
                <input type="text" name="username" class="form-control mt-4 mb-3" placeholder="Email or Username" required>
                <div class="input-group mt-4 mb-3">
                    <input type="password" name="password" class="form-control password-input" placeholder="Password" required>
                    <span class="input-group-text toggle-password">
                        <i class="bi bi-eye-slash"></i>
                    </span>
                </div>
                <button type="submit" class="btn btn-purple w-100 mt-3 mb-2">Log in</button>
            </form>
            <br>
            <div class="d-flex justify-content-between">
                <a href="#" class="link-light">Email a login link</a>
                <a href="#" class="link-light">Forgot Password</a>
            </div>
        </div>

        <!-- Sign up -->
        <div class="right bg-light">
            <h2 class="mb-4 fw-bold text-center text-purple">Sign up</h2>
            <hr>
            <form method="POST" action="{{ url_for('register_page') }}">
                <input type="text" name="new_username" class="form-control mt-4 mb-3" placeholder="Email or Username" required>
                <div class="input-group mt-4 mb-3">
                    <input type="password" name="new_password" class="form-control password-input" placeholder="Enter new password" required>
                    <span class="input-group-text toggle-password">
                        <i class="bi bi-eye-slash"></i>
                    </span>
                </div>
                <button type="submit" class="btn btn-outline-purple w-100 mt-3">Create Account</button>
            </form>
            <br>
            <div class="text-center mt-3">
                <a href="#" class="text-primary">Account Help</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block postload_scripts %}
<!-- Password Toggle Script -->
<script src="{{ url_for('static', filename='scripts/togglePassword.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/fadeFlashMessage.js') }}"></script>
{% endblock %}