{% extends "base.html" %}

{% block title %}{{ posting.title }} | Craigslist{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/posting.css') }}">
{% endblock styles %}

{% block navbar %}
    <button style="position:absolute; right:5px;" id="account" onclick="window.location = '/account'">account</button>
{% endblock navbar %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">{{ posting.title }}</h1>
    <div class="row">
        <!-- Carousel on the left -->
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image_url in posting.image_url %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %}
                                aria-label="Slide {{ loop.index }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image_url in posting.image_url %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ image_url }}" class="d-block w-100" alt="Posting Image">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="input-group my-4">
                <span class="input-group-text">Actions</span>
                <button class="btn btn-secondary" type="button">Favorite</button>
                <button class="btn btn-warning" type="button">Report Flag</button>
                <button class="btn btn-info" type="button">Share</button>
            </div>
        </div>
        <!-- Description and actions on the right -->
        <div class="col-md-6">
            <div class="posting-description">
                {{ posting.html_content|safe }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block postload_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/iconify.js') }}"></script>
<script>accountIcon();</script>
<script src="{{ url_for('static', filename='scripts/carousel.js') }}"></script>
<script>    
    initializeCarousel();
</script>
{% endblock postload_scripts %}