.navigation-bar {
    z-index: 100;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px 10px 20px;
    background-color: var(--light-bg);
    color: var(--light-fg) !important;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5));
}

.navigation-bar a {
    text-decoration: none;
}

.navigation-bar a > svg {
    margin-top: 5px;
    width: 20vmin;
    height: auto;
    fill: var(--light-logo);
}

.navigation-bar span.region {
    position: absolute;
    color: var(--light-region);
}

button#account {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 0;
    width: 60px;
    background-color: transparent;
    border-style: none;
    color: var(--light-fg);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s ease, color 0.25s ease;
}

button#account:hover {
    background-color: var(--light-fg);
    color: var(--light-bg);
}

button#post {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    width: 60px;
    background-color: transparent;
    border-style: none;
    color: rgb(21, 177, 21);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s ease, color 0.25s ease;
}

button#post:hover {
    background-color: rgb(21, 177, 21);
    color: var(--light-bg);
}